[submodule "third-party/ios-cmake"]
	path = third-party/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "third-party/ctq"]
	path = third-party/ctq
	url = https://github.com/ookiiwi/ctq.git
